*{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: inherit;
	box-sizing: border-box;
}
body{
	width: 100vw;
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#content-box{
	width: 90%;
	background-color: red;
}
h1{
	padding: 24px 0 24px 0;
	font-size: 2.2em;
	font-weight: 700;
}
h3{
	padding: 12px 0 12px 0;
	font-size: 1.4em;
	font-weight: 400;
}