/*============================================== RESET */

*{
	padding: 0;
	margin: 0;
	font-family: inherit;
	box-sizing: border-box;
	text-decoration: none;
}

/*============================================== GLOBAL */

html{
	/*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (960 - 320)));
}
body{
	width: 100vw;
	background-color: #fff;
	font-family: 'Hind Madurai', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	/*margin: 1.2em 0 1.2em 0;*/
	font-weight: 700;
	color: #111;
	font-size: 2rem;
}
h2{
	font-weight: 700;
	font-size: 1rem;
}
h3{
	margin: 1.2rem 0 1.2rem 0;
	font-weight: 400;
	color: #222;
	font-size: 1.2rem;
}
h4{
	margin: 1.2rem 0 0.4rem 0;
	font-weight: 700;
	font-size: 1.2rem;
}
h5{
	margin: 1.2rem 0 1.2rem 0;
	text-align: center;
	font-size: 0.5rem;
	font-weight: 400;
}
p{
	margin: 0.4rem 0 1.2rem 0;
	font-weight: 400;
	font-size: 1rem;
}
ul{
	margin: 0 0 1.2rem 1rem;
}

/*============================================== CLASS */

button.cta{
	margin: 1.2rem 0 1.2rem 0;
	padding: 1rem 2.5rem 1rem 2.5rem;
	color: #fff;
	background-color: #111;
	border: none;
}
button.cta:hover{
	cursor: pointer;
	background-color: #555;
}
.all-containers{
	/*padding: 0 5%;*/
	width: 100%;
	padding: 0 8vw;
}
.modelpreview{
	margin: 0 auto;
}

/*============================================== ID */

#navbar{
	height: 3rem;
}
#hero-one{
	background-color: #eee;
}
#makedrones-two{

}
#getnew-three{
	background-color: #eee;
}
#safetyandcred-four{

}
#howitworks-five{
	background-color: #eee;
}
#dontflyunder-six{

}
#modelpreview-seven{
	background-color: #eee;
}
