/*============================================== STYLE RESET */

*{
	padding: 0;
	margin: 0;
	/*font-size: inherit;*/
	font-family: inherit;
	box-sizing: border-box;
	text-decoration: none;
}

/*============================================== MEDIA QUERIES */

html{
	/*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
	font-size: calc(16px + (24 - 16) * ((100vw - 400px) / (960 - 400)));
}
body{
	width: 100vw;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.all-containers{
	width: 90%;
}
#navbar{
	height: 3em;
}
h1{
	margin: 1em 0 1em 0;
	font-weight: 700;
	color: #111;
	font-size: 2em;
}
h2{
	font-weight: 700;
	font-size: 1em;
}
h3{
	margin: 1em 0 1em 0;
	font-weight: 400;
	color: #555;
	font-size: 1em;
}
h4{
	margin: 1em 0 1em 0;
	font-weight: 700;
	font-size: 1em;
}
p{
	margin: 1em 0 1em 0;
	font-weight: 400;
	font-size: 1em;
}
h5{
	margin: 1em 0 1em 0;
	text-align: center;
	font-size: 0.5em;
	font-weight: 400;
}
button.cta{
	margin: 1em 0 1em 0;
	padding: 1em 2.5em 1em 2.5em;
	color: #fff;
	background-color: #111;
	border: none;
}
button.cta:hover{
	cursor: pointer;
	background-color: #555;
}
